<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="chatty"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon, android:label">
        <!-- You can add additional configurations for debug here if needed -->
    </application>

</manifest>